<header>
    <h1>NodeJS Rest API</h1>
    <h2>Contact Book - <%= title %></h2>
    <p>A NodeJS Rest API made to handle contacts.</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/contacts/new">Add Contact</a></li>
    </ul>
</header>