<header>
    <h1 id="mainHeading">NodeJS Rest API</h1>
    <h2 id="mainSubHeading">Contact Book - <%= title %></h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/contacts/new">Add Contact</a></li>
    </ul>
</header>