@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');


/***************************************/
/*                global               */
/***************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgb(26, 26, 26);
}

.PageHeading {
    color: rgb(189, 189, 189);
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}


/***************************************/
/*           partials/header           */
/***************************************/
header {
    margin-bottom: 5rem;
}
header h1, h2, p {
    text-align: center;
}
h4 {
    color:rgb(48, 255, 158);
    margin-top: 5px;
}

header h1 {
    color: white;
    font-size: 70px;
}

header h2 {
    color:rgb(48, 120, 255);
    font-size: 35px;
}

header p {
    color: rgb(189, 189, 189);
}

section {
    width: 1500px;
    margin: auto;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 100px;
}

li {
    text-align: center;
    margin: 0px 20px 1px 20px;
    width: 150px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    background:rgb(255, 0, 106);
    transition: all 0.2s ease;
}

li:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: white;
}

/***************************************/
/*         partials/deleteform         */
/***************************************/
.DeleteBtn {
    background:rgb(255, 0, 106);
    border: none;
    outline: none;
    padding: 3px 6px 3px 6px;
    font-size: 16px;
    margin: 10px;
    margin-left: 130px;
}


/***************************************/
/*                 index               */
/***************************************/
#recentlyAddedContainer {
    text-align: center;
}

#recentlyAddedContainer a {
    color:rgb(48, 255, 158);
    font-size: 18px;
    text-decoration: underline;
    border: 2px solid rgb(48, 255, 158);
    padding: 5px;
    transition: all 0.2s ease;
}

#recentlyAddedContainer a:hover {
    opacity: 0.8;
}


/***************************************/
/*            contacts/index           */
/***************************************/
#contactContainer {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.ContactCard {
    background: rgb(228, 228, 228);
    width: 320px;
    padding: 1rem;
    height: 90px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 17px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 17px -2px rgba(0,0,0,1);
    box-shadow: 0px 3px 17px -2px rgba(0,0,0,1);
}

.ContactCard p {
    display: inline;
    font-size: 18px;
}

.CardBtns {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.CardBtns a {
    color: black;
    background:rgb(48, 120, 255);
    padding: 3px;
    border-radius: 3px;
    color: white;   
    transition: all 0.2s ease;
    margin: 10px 20px 20px 0px;
    
}

.CardBtns a:hover {
    opacity: 0.8;
}


/***************************************/
/*          contacts/new&edit          */
/***************************************/
#addContact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 400px;
}

#addContact input, select, textarea {
    margin-bottom: 5px;
    padding: 5px;
}

#addContact textarea {
    min-width: 388px;
    width: 100%;
    max-width: 388px;
    min-height: 75px;
    max-height: 150px;
}

#addContact a {
    background:rgb(255, 0, 106);
    width: 100px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

#addContact button {
    background:rgb(48, 255, 158);
    color: black;
    font-weight: 700;
    border: none;
    outline: none;
    font-size: 20px;
    width: 300px;
}


/***************************************/
/*             contacts/show           */
/***************************************/

#showContact div {
    max-width: 250px;
    margin: auto;
    text-align: center;
}

#showContact p {
    color: white;
}

#showContact a {
    color: black;
    background:rgb(48, 120, 255);
    padding: 3px 50px 3px 50px;
    border-radius: 3px;
    color: white;   
}

#showContact button {
    color: black;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

#showContact textarea {
    background: white;
    min-width: 238px;
    max-width: 238px;
    min-height: 75px;
    max-height: 120px;
}
