<div id="street" class="FormInputContainer">
    <label>Street</label>
    <input type="text" name="street" value="<%= address.street %>">
</div>

<div id="zipCode" class="FormInputContainer">
    <label>Zip code</label>
    <input type="text" name="zipCode" value="<%= address.zipCode %>">
</div>

<div id="city" class="FormInputContainer">
    <label>City</label>
    <input type="text" name="city" value="<%= address.city %>">
</div>

<div id="country" class="FormInputContainer">
    <label>Country</label>
    <input type="text" name="country" value="<%= address.country %>">
</div>