<h4>Address</h4>
<input type="text" name="street" value="<%= address.street %>" placeholder="Street">
<input type="text" name="zipCode" value="<%= address.zipCode %>" placeholder="Zip code">
<input type="text" name="city" value="<%= address.city %>" placeholder="City">
<input type="text" name="country" value="<%= address.country %>" placeholder="Country">