<div id="day" class="FormInputContainer">
    <label>Day</label>
    <select name="day" value="<%= birthday.day %>" id="daySelect">
        <option></option>
    </select>
</div>

<div id="month" class="FormInputContainer">
    <label>Month</label>
    <select name="month" value="<%= birthday.month %> ">
        <option></option>
        <option>Jan</option>
        <option>Feb</option>
        <option>Mar</option>
        <option>Apr</option>
        <option>May</option>
        <option>Jun</option>
        <option>Jul</option>
        <option>Aug</option>
        <option>Sep</option>
        <option>Oct</option>
        <option>Nov</option>
        <option>Dec</option>
    </select>
</div>

<div id="year" class="FormInputContainer">
    <label>Year</label>
    <select name="year" value="<%= birthday.year %>" id="yearSelect">
        <option></option>
    </select>
</div>
