<h4>Birthday</h4>
<select name="day" value="<%= birthday.day %>" id="daySelect">
    <option disabled selected>Select birthday</option>
</select>
<select name="month" value="<%= birthday.month %> ">
    <option disabled selected>Select birthmonth</option>
    <option>Jan</option>
    <option>Feb</option>
    <option>Mar</option>
    <option>Apr</option>
    <option>May</option>
    <option>Jun</option>
    <option>Jul</option>
    <option>Aug</option>
    <option>Sep</option>
    <option>Oct</option>
    <option>Nov</option>
    <option>Dec</option>
</select>
<select name="year" value="<%= birthday.year %>" id="yearSelect">
    <option disabled selected>Select birthyear</option>
</select>