<div>
    <label>Firstname</label>
    <input type="text" name="firstname" value="<%= contact.firstname %>">
</div>
<div>
    <label>Lastname</label>
    <input type="text" name="lastname" value="<%= contact.lastname %>">
</div>
<div>
    <label>Number</label>
    <input type="number" name="number" value="<%= contact.mobile %>">
</div>
<div>
    <label>Notes</label>
    <textarea name="notes"></textarea>
</div> 
