<section id="addContact">
    <h3 class="PageHeading">Editing Contact: <%= contact.firstname %> <%= contact.lastname %></h3>
    <form action="/contacts/<%= contact.id %>?_method=PUT" method=POST>
        <%- include('_form_fields') %>
        <a href="/contacts">Cancel</a>
        <button type="submit">Update</button>
    </form>
</section>