<div id="newContainer">
    <form action="/contacts" method="POST">
        <%- include('_form_fields') %>
        <a href="/contacts" id="cancelContact">Cancel</a> 
        <button type="submit" id="createContact">Create</button>
    </form>
</div>
