<section id="addContact">
    <h3 class="PageHeading">Add A New Contact</h3>
    <form action="/contacts" method="POST">
        <%- include('_form_fields') %>
        <a href="/contacts">Cancel</a> 
        <button type="submit">Create</button>
    </form>
</section>